@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Boldonse", system-ui;
}

.container {
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  text-align: center;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
}

h1 {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}
